In [359]:
import pandas as pd
import numpy as np

In [360]:
data=pd.read_csv('EdStatsData.csv')

In [361]:
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [362]:
# Displaying the list of regions

In [363]:
data["Country Name"].unique()

array(['Arab World', 'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'North America', 'OECD members', 'South Asia',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Upper middle income', 'World', 'Afghanistan', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [364]:
# Filtering to contain only the data about the Europe and Central Asia Region

In [365]:
dataECS = data[data["Country Code"].isin(["ECS","WLD"])]

In [366]:
dataECS

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
14660,Europe & Central Asia,ECS,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14661,Europe & Central Asia,ECS,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14662,Europe & Central Asia,ECS,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14663,Europe & Central Asia,ECS,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14664,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,93.335213,93.054619,93.135818,93.235611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91620,World,WLD,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91621,World,WLD,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91622,World,WLD,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91623,World,WLD,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91624,World,WLD,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
# Creating a set for the years we will work on

In [368]:
cols = dataECS.columns[dataECS.columns.slice_indexer('2000','2015')]

In [369]:
cols

Index(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [370]:
# Filtering so we remain only with rows that contains data for the columns in set

In [371]:
dataECS = dataECS.dropna(subset=cols,how='all')

In [372]:
dataECS = dataECS.drop(dataECS.loc[:, '2015':'2100'].columns, axis = 1)

In [373]:
dataECS = dataECS.drop(dataECS.loc[:, '1970':'2000'].columns, axis = 1)

In [374]:
dataECS = dataECS.drop('Unnamed: 69',axis=1)

In [375]:
dataECS.set_index('Indicator Code',inplace=True)

In [376]:
dataECS

,Country Name,Country Code,Indicator Name,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Indicator Code,,,,,,,,,,,,,,,,,
SE.PRM.TENR,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, both sex...",9.747771e+01,9.797246e+01,9.766648e+01,9.764091e+01,9.673683e+01,9.683275e+01,9.686298e+01,9.713011e+01,9.698089e+01,9.727472e+01,9.732918e+01,9.724965e+01,9.730625e+01,9.702209e+01
SE.PRM.TENR.FE,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, female (%)",9.706914e+01,9.757091e+01,9.726368e+01,9.728810e+01,9.647266e+01,9.660628e+01,9.673335e+01,9.697417e+01,9.690704e+01,9.723278e+01,9.730631e+01,9.725187e+01,9.729101e+01,9.703249e+01
UIS.NERA.1.GPI,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, gender p...",9.918400e-01,9.920200e-01,9.919800e-01,9.929700e-01,9.946800e-01,9.954400e-01,9.973900e-01,9.968700e-01,9.985200e-01,9.991600e-01,9.995400e-01,1.000040e+00,9.996900e-01,1.000210e+00
SE.PRM.TENR.MA,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, male (%)",9.786746e+01,9.835539e+01,9.805049e+01,9.797708e+01,9.698852e+01,9.704849e+01,9.698639e+01,9.727853e+01,9.705114e+01,9.731461e+01,9.735090e+01,9.724755e+01,9.732072e+01,9.701221e+01
UIS.NIRA.1,Europe & Central Asia,ECS,Adjusted net intake rate to Grade 1 of primary...,9.220403e+01,9.227402e+01,9.133984e+01,9.169263e+01,9.176620e+01,9.193613e+01,9.268372e+01,9.203227e+01,9.144974e+01,9.263978e+01,9.318523e+01,9.345554e+01,9.342006e+01,8.944010e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UIS.LP.AG15T24.F,World,WLD,"Youth illiterate population, 15-24 years, fema...",8.602780e+07,8.602780e+07,8.602780e+07,8.602780e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07,6.756973e+07
SE.ADT.1524.LT.ZS,World,WLD,"Youth literacy rate, population 15-24 years, b...",8.726631e+01,8.726631e+01,8.726631e+01,8.726631e+01,9.061835e+01,9.061835e+01,9.061835e+01,9.061835e+01,9.061835e+01,9.062017e+01,9.061835e+01,9.061835e+01,9.061835e+01,9.061835e+01
SE.ADT.1524.LT.FE.ZS,World,WLD,"Youth literacy rate, population 15-24 years, f...",8.398630e+01,8.398630e+01,8.398630e+01,8.398630e+01,8.861294e+01,8.861294e+01,8.861294e+01,8.861294e+01,8.861294e+01,8.861526e+01,8.861294e+01,8.861294e+01,8.861294e+01,8.861294e+01
SE.ADT.1524.LT.FM.ZS,World,WLD,"Youth literacy rate, population 15-24 years, g...",9.300000e-01,9.300000e-01,9.300000e-01,9.300000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01,9.600000e-01
SE.ADT.1524.LT.MA.ZS,World,WLD,"Youth literacy rate, population 15-24 years, m...",9.046877e+01,9.046877e+01,9.046877e+01,9.046877e+01,9.258303e+01,9.258303e+01,9.258303e+01,9.258303e+01,9.258303e+01,9.258436e+01,9.258303e+01,9.258303e+01,9.258303e+01,9.258303e+01

In [377]:
# Creating a csv with the filtered data

In [378]:
dataECS.to_csv('ECS.csv')

In [379]:
# Filtering data for a csv where the indicators are applied for  Europe and Central Asia separetly
# Steps below are identical with the one above

In [389]:
countryData = pd.read_csv('EdStatsCountry.csv')

In [390]:
countryDataE = countryData[countryData['Region'] == 'Europe & Central Asia']
countries = countryDataE['Table Name'].to_list()
dataCountries = data[data["Country Name"].isin(countries)]

In [391]:
dataCountries = dataCountries.dropna(subset= cols,how='all')
dataCountries = dataCountries.drop('Unnamed: 69',axis=1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '1970':'2000'].columns, axis = 1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '2015':'2100'].columns, axis = 1)

In [392]:
dataCountries["region"] = "Europe and Central Asia"

In [394]:
dataCountries.to_csv('ECSCountries.csv')

In [395]:
#CountriesForAllRegions

In [396]:
ecs = dataCountries

In [397]:
ecs

,Country Name,Country Code,Indicator Name,Indicator Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,region
95290,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,85.306610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.666588,88.778252,Europe and Central Asia
95291,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,84.769829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.354607,88.133423,Europe and Central Asia
95292,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,0.987710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.993110,0.986010,Europe and Central Asia
95293,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,85.824432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.960289,89.383621,Europe and Central Asia
95294,Albania,ALB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,94.327347,NaN,91.710312,91.11129,NaN,NaN,NaN,90.267288,89.393333,91.033867,93.225662,96.137093,95.912598,95.920891,Europe and Central Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857605,Uzbekistan,UZB,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,Europe and Central Asia
857606,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,Europe and Central Asia
857607,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,Europe and Central Asia
857608,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,Europe and Central Asia
857609,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,Europe and Central Asia

In [398]:
countryDataA = countryData[countryData['Region'] == 'East Asia & Pacific']
countries = countryDataA['Table Name'].to_list()
dataCountries = data[data["Country Name"].isin(countries)]

In [399]:
dataCountries = dataCountries.dropna(subset= cols,how='all')
dataCountries = dataCountries.drop('Unnamed: 69',axis=1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '1970':'2000'].columns, axis = 1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '2015':'2100'].columns, axis = 1)

In [400]:
dataCountries["region"] = "East Asia & Pacific"

In [401]:
eas = dataCountries

In [402]:
countryDataN = countryData[countryData['Region'] == 'North America']
countries = countryDataN['Table Name'].to_list()
dataCountries = data[data["Country Name"].isin(countries)]

In [403]:
dataCountries = dataCountries.dropna(subset= cols,how='all')
dataCountries = dataCountries.drop('Unnamed: 69',axis=1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '1970':'2000'].columns, axis = 1)
dataCountries = dataCountries.drop(dataCountries.loc[:, '2015':'2100'].columns, axis = 1)

In [404]:
dataCountries["region"] = "North America"

In [405]:
nac = dataCountries

In [406]:
frames = [ecs, eas, nac]

In [407]:
result = pd.concat(frames)

In [408]:
result.to_csv('RegionCountries.csv')

In [409]:
#AllRegions

In [410]:
dataAll = data[data["Country Code"].isin(["ECS","EAS","NAC"])]

In [411]:
dataAll = dataAll.dropna(subset= cols,how='all')

In [412]:
dataAll = dataAll.drop(dataAll.loc[:, '2015':'2100'].columns, axis = 1)

In [413]:
dataAll = dataAll.drop(dataAll.loc[:, '1970':'2000'].columns, axis = 1)

In [414]:
dataAll = dataAll.drop('Unnamed: 69',axis=1)

In [415]:
dataAll.set_index('Indicator Code',inplace=True)

In [416]:
dataAll

,Country Name,Country Code,Indicator Name,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Indicator Code,,,,,,,,,,,,,,,,,
SE.PRM.TENR,East Asia & Pacific,EAS,"Adjusted net enrolment rate, primary, both sex...",95.410957,97.492416,97.295174,96.656387,95.181770,94.709732,95.674072,95.730942,96.068748,96.166069,96.364761,96.322609,96.094063,96.207962
SE.PRM.TENR.FE,East Asia & Pacific,EAS,"Adjusted net enrolment rate, primary, female (%)",95.185143,97.313599,97.009399,97.015167,94.883293,94.409889,95.490082,95.523918,95.858963,96.238548,96.734039,96.449081,96.227287,96.194817
UIS.NERA.1.GPI,East Asia & Pacific,EAS,"Adjusted net enrolment rate, primary, gender p...",0.995440,0.996470,0.994360,1.007150,0.994000,0.993950,0.996320,0.995870,0.995830,1.001440,1.007330,1.002500,1.002640,0.999740
SE.PRM.TENR.MA,East Asia & Pacific,EAS,"Adjusted net enrolment rate, primary, male (%)",95.620712,97.658028,97.559174,96.326797,95.455658,94.984673,95.842644,95.920280,96.260162,96.100143,96.029938,96.208237,95.973801,96.219803
UIS.NIRA.1,East Asia & Pacific,EAS,Adjusted net intake rate to Grade 1 of primary...,93.683914,93.583176,93.600616,93.246429,92.992683,91.816818,92.417633,92.084991,92.797897,92.506409,93.471664,93.264320,93.588196,93.662315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UIS.NERT.1.GPI,North America,NAC,"Total net enrolment rate, primary, gender pari...",1.012010,1.013580,1.010900,1.012560,1.013450,1.017560,1.011200,1.007790,1.018680,1.005810,1.014220,1.000150,1.000640,NaN
UIS.OE.56.40510,North America,NAC,Total outbound internationally mobile tertiary...,80680.000000,91059.000000,92087.000000,91984.000000,97257.000000,100045.000000,103873.000000,102093.000000,105011.000000,104838.000000,106963.000000,107232.000000,107697.000000,NaN
SL.UEM.TOTL.FE.ZS,North America,NAC,"Unemployment, female (% of female labor force)",4.821936,5.765117,5.857942,5.559285,5.248003,4.759075,4.618168,5.421493,7.981061,8.457649,8.245693,7.777897,7.043886,6.133559
SL.UEM.TOTL.MA.ZS,North America,NAC,"Unemployment, male (% of male labor force)",5.070087,6.133873,6.475707,5.796759,5.306619,4.794990,4.865558,6.141703,10.305656,10.330749,9.161672,8.236284,7.678647,6.417826
SL.UEM.TOTL.ZS,North America,NAC,"Unemployment, total (% of total labor force)",4.951048,5.994515,6.166793,5.678098,5.277502,4.777134,4.747404,5.831720,9.193647,9.438747,8.748565,8.013271,7.367216,6.276511

In [417]:
dataAll.to_csv('DataRegions.csv')